# Template C++ Application

# This template allows you to validate your C++ application.
# The workflow allows running tests and code linting on the default branch.


image: gcc:12.2


pipelines:
  default:
    - parallel:
      - step:
          name: Test
          script:
            - apt-get update
            - apt-get install -y cmake
            - mkdir build/
            - cd build
            - cmake ..
            - make
            - ./test/SimTest
