# Template C++ Application

# This template allows you to validate your C++ application.
# The workflow allows running tests and code linting on the default branch.


image: gcc:12.2


pipelines:
  default:
    - parallel:
      - step:
          name: Test
          script:
            - apt-get update
            - apt-get install -y cmake
            - apt-get update 
            - apt-get -y --no-install-recommends install \
                build-essential \
                git \
                ca-certificates \
                gcc \
                clang \
                cmake \
                gdb \
                wget
            - apt-get install -y libboost-all-dev \
                libgtest-dev \
                libeigen3-dev \
                libgmock-dev \
                libfmt-dev
            - cd build
            - cmake ..
            - make
            - ./test/SimTest
