# Template C++ Application

# This template allows you to validate your C++ application.
# The workflow allows running tests and code linting on the default branch.


image: ubuntu:22.04


pipelines:
  default:
    - parallel:
      - step:
          name: Test
          script:
            - apt-get update
            - apt-get install -y cmake
            - apt-get update 
            - apt-get -y --no-install-recommends install build-essential
            - apt-get -y --no-install-recommends install git
            - apt-get -y --no-install-recommends install ca-certificates
            - apt-get -y --no-install-recommends install gcc
            - apt-get -y --no-install-recommends install clang
            - apt-get -y --no-install-recommends install gdb
            - apt-get -y --no-install-recommends install wget
            - apt-get install -y libboost-all-dev \
                libgtest-dev \
                libeigen3-dev \
                libgmock-dev \
                libfmt-dev
            - cd build
            - cmake ..
            - make
            - ./test/SimTest
