name: Build Releases

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

env:
    BUILD_TYPE: Release

jobs:
    build-release:
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      PLATFORM: 22.04
                      SHELL: bash
                      GENERATOR: "Ninja"
                    - os: windows-latest
                      PLATFORM: 2022
                      SHELL: powershell
                      GENERATOR: "Visual Studio 17 2022"

        name: Build Static Library Release
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: ${{ matrix.SHELL }}
        steps:
            - name: Checkout Respond Repository
              uses: actions/checkout@v4

            - name: Install Boost
              uses: MarkusJx/install-boost@v2.4.5
              id: install-boost
              with:
                boost_version: 1.86.0
                platform_version: ${{ matrix.PLATFORM }}

            - name: Install Eigen3
              uses: kupns-aka-kupa/setup-eigen3@master
              id: install-eigen3
              with:
                version: 3.4.0
              env:
                CMAKE_GENERATOR: ${{ matrix.GENERATOR }}

            - name: Build Project with CMake
              env:
                BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
                EIGEN3_INCLUDE_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_INCLUDE_DIR }}
                EIGEN3_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_DIR}}
              uses: threeal/cmake-action@v2.1.0
              with:
                generator: ${{ matrix.GENERATOR }}
                options: |
                    CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
                    RESPOND_BUILD_PIC=ON
                    RESPOND_BUILD_EXECUTABLE=OFF
                    RESPOND_BUILD_TESTS=ON
                    RESPOND_CALCULATE_COVERAGE=OFF
                    RESPOND_BUILD_PYBINDINGS=OFF
                    RESPOND_BUILD_BENCH=OFF
                    RESPOND_BUILD_WARNINGS=ON
                    RESPOND_BUILD_SHARED_LIBS=OFF
            
            - name: Upload Linux Tests
              if: runner.os == 'Linux'
              uses: actions/upload-artifact@v4
              with:
                name: respond_tests_linux
                path: ${{github.workspace}}/build/tests/respond_tests
            - name: Run Windows Tests
              if: runner.os == 'Windows'
              uses: actions/upload-artifact@v4
              with:
                name: respond_tests_windows
                path: ${{github.workspace}}\build\tests\Debug\respond_tests.exe
              
    test:
        needs: build-release
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      PLATFORM: 22.04
                      SHELL: bash
                    - os: windows-latest
                      PLATFORM: 2022
                      SHELL: powershell
        name: Test Static Libraries
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: ${{ matrix.SHELL }}
        steps:
            - name: Download Linux Artifact
              if: runner.os == 'Linux'
              uses: actions/download-artifact@v4
              with:
                name: respond_tests_linux
            
            - name: Download Windows Artifact
              if: runner.os == 'Windows'
              uses: actions/download-artifact@v4
              with:
                name: respond_tests_windows

            - name: Run Linux Tests
              if: runner.os == 'Linux'
              run: |
                sudo chmod +x ./respond_tests && ./respond_tests
            - name: Run Windows Tests
              if: runner.os == 'Windows'
              run: |
                .\respond_tests.exe

                
