name: Build Releases

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

env:
    BUILD_TYPE: Release

jobs:
    build-release:
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      PLATFORM: 22.04
                      SHELL: bash
                    - os: windows-latest
                      PLATFORM: 2022
                      SHELL: powershell

        name: Build Static Library Release
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: ${{ matrix.SHELL }}
        steps:
            - name: Checkout Respond Repository
              uses: actions/checkout@v4

            - name: Setup cmake
              uses: jwlawson/actions-setup-cmake@v2

            - name: Install Boost
              uses: MarkusJx/install-boost@v2.4.5
              id: install-boost
              with:
                boost_version: 1.86.0
                platform_version: ${{ matrix.PLATFORM }}

            - name: Generate CMake Files
              working-directory: ${{github.workspace}}/build
              run: |
                cmake .. -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DRESPOND_BUILD_PIC=OFF -DRESPOND_BUILD_EXECUTABLE=OFF -DRESPOND_BUILD_TESTS=ON -DRESPOND_BUILD_PYBINDINGS=OFF -DRESPOND_BUILD_BENCH=OFF -DRESPOND_BUILD_WARNINGS=ON -DRESPOND_BUILD_SHARED_LIBS=OFF 
              env:
                BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
                
            - name: Compile Static Library
              working-directory: ${{github.workspace}}/build
              run: cmake --build .
            
            - name: Upload Tests
              uses: actions/upload-artifact@v4
              with:
                name: tests
                path: ${{github.workspace}}/build/tests/respondTests
    test:
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      PLATFORM: 22.04
                      SHELL: bash
                    - os: windows-latest
                      PLATFORM: 2022
                      SHELL: powershell
        name: Test Static Libraries
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: ${{ matrix.SHELL }}
        steps:
            - name: Download Artifact
              uses: actions/download-artifact@v4
              with:
                name: tests
            - name: Run Tests
              run: |
                cd tests
                ./respondTests

