name: Build and Test

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

env:
    BUILD_TYPE: Debug

jobs:
    build-release:
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      platform: 22.04
                      shell: bash
                      gen: "Ninja"
                      asset-name: respond_tests_linux
                      path: "build/tests/respond_tests"

                    - os: windows-latest
                      platform: 2022
                      shell: powershell
                      gen: "MinGW Makefiles"
                      asset-name: respond_tests_windows
                      path: "build\\tests\\respond_tests.exe"

        name: Build Static Library Release
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: ${{ matrix.shell }}
        steps:
            - name: Checkout Respond Repository
              uses: actions/checkout@v4

            - name: Install Boost
              uses: MarkusJx/install-boost@v2.4.5
              id: install-boost
              with:
                boost_version: 1.86.0
                platform_version: ${{ matrix.platform }}

            - name: Install Eigen3
              uses: kupns-aka-kupa/setup-eigen3@master
              id: install-eigen3
              with:
                version: 3.4.0
              env:
                CMAKE_GENERATOR: ${{ matrix.gen }}

            - name: Build Project with CMake
              env:
                BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
                EIGEN3_INCLUDE_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_INCLUDE_DIR }}
                EIGEN3_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_DIR}}
              uses: threeal/cmake-action@v2.1.0
              with:
                generator: ${{ matrix.gen }}
                options: |
                    CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
                    RESPOND_BUILD_PIC=ON
                    RESPOND_BUILD_EXECUTABLE=OFF
                    RESPOND_BUILD_TESTS=ON
                    RESPOND_CALCULATE_COVERAGE=ON
                    RESPOND_BUILD_PYBINDINGS=OFF
                    RESPOND_BUILD_BENCH=OFF
                    RESPOND_BUILD_WARNINGS=ON
                    RESPOND_BUILD_SHARED_LIBS=OFF
            
            - name: Upload Tests
              uses: actions/upload-artifact@v4
              with:
                name: ${{matrix.asset-name}}
                path: ${{github.workspace}}/${{ matrix.path }}
              
    test:
        needs: build-release
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      shell: bash
                      asset-name: respond_tests_linux

                    - os: windows-latest
                      shell: powershell
                      asset-name: respond_tests_windows
        name: Test Static Libraries
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: ${{ matrix.shell }}
        steps:
            - name: Download Artifact
              uses: actions/download-artifact@v4
              with:
                name: ${{ matrix.asset-name }}

            - name: Run Linux Tests
              if: runner.os == 'Linux'
              run: |
                sudo chmod +x ./respond_tests && ./respond_tests
            - name: Run Windows Tests
              if: runner.os == 'Windows'
              run: |
                .\respond_tests.exe

                
