name: Build and Release

on:
    push:
        tags:
            - 'v*.*.*'

env: 
    BUILD_TYPE: Release

jobs:
    build:
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      platform: 22.04
                      shell: bash
                      gen: "Ninja"
                      asset-name: respond_linux_x86_64_exe
                      path: "build/extras/executable/respond_exe"

                    - os: windows-latest
                      platform: 2022
                      shell: powershell
                      gen: "MinGW Makefiles"
                      asset-name: respond_windows_x64_64_exe
                      path: "build\\extras\\executable\\respond_exe.exe"
        name: Build Assets
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: ${{ matrix.shell }}
        steps:
            - name: Checkout Respond Repository
              uses: actions/checkout@v4

            - name: Install Boost
              uses: MarkusJx/install-boost@v2.4.5
              id: install-boost
              with:
                boost_version: 1.86.0
                platform_version: ${{ matrix.platform }}

            - name: Install Eigen3
              uses: kupns-aka-kupa/setup-eigen3@master
              id: install-eigen3
              with:
                version: 3.4.0
              env:
                CMAKE_GENERATOR: ${{ matrix.gen }}
  
            - name: Build Project with CMake
              env:
                BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
                EIGEN3_INCLUDE_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_INCLUDE_DIR }}
                EIGEN3_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_DIR}}
              uses: threeal/cmake-action@v2.1.0
              with:
                generator: ${{ matrix.gen }}
                options: |
                    CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
                    RESPOND_BUILD_PIC=ON
                    RESPOND_BUILD_EXECUTABLE=ON
                    RESPOND_BUILD_TESTS=OFF
                    RESPOND_CALCULATE_COVERAGE=OFF
                    RESPOND_BUILD_PYBINDINGS=OFF
                    RESPOND_BUILD_BENCH=OFF
                    RESPOND_BUILD_WARNINGS=ON
                    RESPOND_BUILD_SHARED_LIBS=OFF
              
            - name: Upload Executable
              uses: actions/upload-artifact@v4
              with:
                name: ${{ matrix.asset-name }}
                path: ${{github.workspace}}/${{matrix.path}}


    release:
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      asset-name: respond_linux_x86_64_exe

                    - os: windows-latest
                      asset-name: respond_windows_x64_64_exe
        name: Release Assets on Tag
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout RESPOND Repository
              uses: actions/checkout@v4
            - name: Create Release
              id: create_release
              uses: actions/create-release@latest
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                tag_name: ${{ github.ref }}
                release_name: Release ${{ github.ref }}
                draft: false
                prerelease: false
            
