name: Build Releases

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

env:
    BUILD_TYPE: Release

jobs:
    build-release:
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      PLATFORM: 22.04
                      SHELL: bash
                      GENERATOR: "Ninja"
                    - os: windows-latest
                      PLATFORM: 2022
                      SHELL: powershell
                      GENERATOR: "Visual Studio 17 2022"

        name: Build Static Library Release
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: ${{ matrix.SHELL }}
        steps:
            - name: Checkout Respond Repository
              uses: actions/checkout@v4

            - name: Install Boost
              uses: MarkusJx/install-boost@v2.4.5
              id: install-boost
              with:
                boost_version: 1.86.0
                platform_version: ${{ matrix.PLATFORM }}

            - name: Build Project with CMake
              env:
                BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
              uses: threeal/cmake-action@v2.1.0
              with:
                generator: ${{ matrix.GENERATOR }}
                options: |
                    -DCMAKE_BUILD_TYPE=$BUILD_TYPE
                    -DRESPOND_BUILD_PIC=ON
                    -DRESPOND_BUILD_EXECUTABLE=OFF
                    -DRESPOND_BUILD_TESTS=ON
                    -DRESPOND_BUILD_PYBINDINGS=OFF 
                    -DRESPOND_BUILD_BENCH=OFF 
                    -DRESPOND_BUILD_WARNINGS=ON 
                    -DRESPOND_BUILD_SHARED_LIBS=OFF 
            
            - name: Upload Tests
              uses: actions/upload-artifact@v4
              with:
                name: tests
                path: ${{github.workspace}}/build/tests/tests
    test:
        needs: build-release
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      PLATFORM: 22.04
                      SHELL: bash
                    - os: windows-latest
                      PLATFORM: 2022
                      SHELL: powershell
        name: Test Static Libraries
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: ${{ matrix.SHELL }}
        steps:
            - name: Download Artifact
              uses: actions/download-artifact@v4
              with:
                name: tests
            - name: Run Tests
              run: |
                cd tests
                ./tests

