name: Build Releases

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    name: Build Static Library Release
    runs-on: ${{ matrix.os }}
    steps:
        - name: Checkout Respond Repository
          uses: actions/checkout@v4

        - name: Setup cmake
          uses: jwlawson/actions-setup-cmake@v2

        - name: Install Boost
          uses: MarkusJx/install-boost@v2.4.5
          id: install-boost
          with:
            boost_version: 1.86.0
            platform_version: 22.04

        - name: Generate CMake Files
          working-directory: ${{github.workspace}}/build
          run: |
            cmake .. \
                -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DRESPOND_BUILD_PIC=OFF \
                -DRESPOND_BUILD_EXECUTABLE=OFF -DRESPOND_BUILD_TESTS=OFF \
                -DRESPOND_BUILD_PYBINDINGS=OFF -DRESPOND_BUILD_BENCH=OFF \
                -DRESPOND_BUILD_WARNINGS=ON -DRESPOND_BUILD_SHARED_LIBS=OFF \
                -DRESPOND_INSTALL=OFF
          env:
            BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
                
        - name: Compile Static Library
          working-directory: ${{github.workspace}}/build
          run: cmake --build . --config $BUILD_TYPE
            
