name: Build and Test

on:
  workflow_dispatch:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest,
        # macos-latest
        ]

    name: Build Release
    runs-on: ${{ matrix.os }}
    steps:
    - name: Get Source
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: conda-incubator/setup-miniconda@v2
      with:
          activate-environment: respond
          environment-file: environment.yml
          auto-activate-base: false

    - name: Fetch Crow Latest Release
      working-directory: ${{ github.workspace }}/lib
      run: |
        # output the current directory, for workflow reference
        pwd
        gh release download --repo CrowCpp/Crow -p "Crow-1.2.0.zip"
        unzip "Crow-1.2.0.zip"
        mv -v "Crow-1.2.0-Darwin" "Crow"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # - name: Copy dminstall lib
    #   run: cp -r "dminstall-${{ matrix.os }}/" "${{github.workspace}}/lib/dminstall"

    # - name: Get GCC-12
    #   run:  sudo apt update && sudo apt install gcc-12 g++-12

    - name: Install Boost
      uses: MarkusJx/install-boost@v2.4.4
      id: install-boost
      with:
        boost_version: 1.82.0

    # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
    # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
    - name: Build and Test
      working-directory: ${{github.workspace}}
      run: BOOST_ROOT="${{ steps.install-boost.outputs.BOOST_ROOT }}" Crow_ROOT="lib/Crow" scripts/build.sh -apnbt "$BUILD_TYPE"
