name: Build and Test

on:
  workflow_dispatch:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    name: Build Release
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Fetch DataManagement Release Asset
      run: |
        gh release download --repo SyndemicsLab/DataManagement -p "dminstall-${{ matrix.os }}.zip"
      env:
        GITHUB_TOKEN: ${{secrets.OAUTH_TOKEN}}

    - name: Unzip Asset and Move to Correct Location
      run: |
        unzip "dminstall-${{ matrix.os }}.zip"

    - name: Copy dminstall lib
      run: cp -r "dminstall-${{ matrix.os }}/" "${{github.workspace}}/lib/dminstall"

    - name: Ubuntu Get GCC-12
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run:  sudo apt update && sudo apt install gcc-12 g++-12

    - name: MacOS Get GCC-12
      if: ${{ matrix.os == 'macos-latest' }}
      run: brew install "gcc@12"

    - name: Install Boost
      uses: MarkusJx/install-boost@v2.4.4
      id: install-boost
      with:
        boost_version: 1.82.0

    - name: MacOS Conan Installation
      if: ${{ matrix.os == 'macos-latest' }}
      run: brew install conan

    - name: Ubuntu Conan Installation
      if: ${{ matrix.os == 'ubuntu-latest' }}
      id: conan
      uses: turtlebrowser/get-conan@main

    - name: Create default Conan profile
      run: conan profile detect --force

    - name: Clean Build Folder
      run: rm -rf ${{github.workspace}}/build/*

    - name: Conan install dependencies
      working-directory: ${{github.workspace}}
      run:  conan install . --build=missing --settings=build_type="$BUILD_TYPE"

    - name: Activate Conan VirtualEnv
      working-directory: ${{github.workspace}}/build
      run: source "$BUILD_TYPE"/generators/conanbuild.sh

    # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
    # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
    - name: CMake Configuration
      working-directory: ${{github.workspace}}/build
      run:  cmake .. -DCMAKE_TOOLCHAIN_FILE="$BUILD_TYPE"/generators/conan_toolchain.cmake -DCMAKE_BUILD_TYPE="$BUILD_TYPE" -DBUILD_TESTS=ON -DCMAKE_C_COMPILER="gcc-12" -DCMAKE_CXX_COMPILER="g++-12" -DCMAKE_CXX_FLAGS="-libcxx=libstdc++11"

    - name: Cmake Build
      working-directory: ${{github.workspace}}/build
      run: cmake --build .

    - name: Deactivate Conan VirtualEnv
      working-directory: ${{github.workspace}}/build
      run: source "$BUILD_TYPE"/generators/deactivate_conanbuild.sh

    - name: Run tests
      working-directory: ${{github.workspace}}
      run: ./bin/respondTest
