name: Build and Test

on:
  workflow_dispatch:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest,
        # macos-latest
        ]

    name: Build Release
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - uses: conda-incubator/setup-miniconda@v2
      with:
          activate-environment: respond
          environment-file: environment.yml
          auto-activate-base: false

    # - name: Fetch DataManagement Release Asset
    #   run: |
    #     gh release download --repo SyndemicsLab/DataManagement -p "dminstall-${{ matrix.os }}.zip"
    #   env:
    #     GITHUB_TOKEN: ${{secrets.OAUTH_TOKEN}}

    # - name: Unzip DataManagement Asset and Move to Correct Location
    #   run: |
    #     unzip "dminstall-${{ matrix.os }}.zip"

    # - name: Copy dminstall lib
    #   run: cp -r "dminstall-${{ matrix.os }}/" "${{github.workspace}}/lib/dminstall"

    # - name: Get GCC-12
    #   run:  sudo apt update && sudo apt install gcc-12 g++-12

    # - name: Install Boost
    #   uses: MarkusJx/install-boost@v2.4.4
    #   id: install-boost
    #   with:
    #     boost_version: 1.82.0

    - name: Clone DataManagement
      working-directory: ${{github.workspace}}/lib
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        rm -rf "DataManagement"
        gh repo clone git@github.com:SyndemicsLab/DataManagement

    # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
    # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
    - name: Build and Test
      working-directory: ${{github.workspace}}
      run:  ./scripts/build.sh -pt "$BUILD_TYPE"
