name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    name: Build Release
    runs-on: ${{ matrix.os }}
    steps:
        - name: Checkout Respond Repository
          uses: actions/checkout@v4

        - name: Install Boost
          uses: MarkusJx/install-boost@v2.4.5
          id: install-boost
          with:
            boost_version: 1.86.0
            platform_version: 22.04

        - name: Setup GoogleTest
          uses: Bacondish2023/setup-googletest@v1.0.1
        
        - name: Install Eigen3
          uses: kupns-aka-kupa/setup-eigen3@v1
          with:
            version: 3.4.0

        - name: Build and Test Respond
          working-directory: ${{github.workspace}}
          run: |
            tools/build.sh -p
          env:
            BOOST_ROOT: ${{ steps.install-boost.outputs.boost_root }}
          shell: bash
