# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: CMake on a single platform

on: [workflow_dispatch]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Conan Installation
      id: conan
      uses: turtlebrowser/get-conan@main

    - name: Create default Conan profile
      run: conan profile detect --force

    - name: Conan Install
      run: conan install ${{github.workspace}} --build=missing --settings=build_type=Debug --settings=compiler.cppstd=17

    - name: Activate Conan Environment
      run: ${{github.workspace}}/build/Debug/generators/conanbuild.bat

    - name: Configure CMake
      run: cmake ${{github.workspace}}/build -G "MinGW Makefiles" -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/build/Debug/generators/conan_toolchain.cmake -DCMAKE_BUILD_TYPE=Debug

    - name: Build
      # Build your program with the given configuration
      run: CALL cmake --build ${{github.workspace}}/build

    - name: Deactivate Conan Environment
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ${{github.workspace}}/build/Debug/generators/deactivate_conanbuild.bat

    - name: Cpack
      run: cpack -G NSIS -C Release

    - name: Publish setup artifact
      uses: actions/upload-artifact@v2
      with:
        name: setup
        path: ${{ github.workspace }}/build/respond-2.0.0-win64.exe

