name: Release Project

on:
    push:
        tags:
            - "v*.*.*"
env:
    BUILD_TYPE: Release

jobs:
    build:
        name: Building Debian Ubuntu Packages
        runs-on: ubuntu-latest
        strategy:
            matrix:
                build-variant: [shared, static]
        steps:
            - name: Checkout Respond Repository
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - name: Install Eigen3
              uses: kupns-aka-kupa/setup-eigen3@master
              id: install-eigen3
              with:
                  version: 3.4.0
              env:
                  CMAKE_GENERATOR: Ninja

            - name: Build Debian Package
              env:
                  EIGEN3_INCLUDE_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_INCLUDE_DIR }}
                  EIGEN3_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_DIR}}
              run: |
                  echo "Building Linux"
                  cmake --workflow --preset package-release-debian-${{matrix.build-variant}}-workflow
              shell: bash
            - name: Upload Debian Package to Release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: ${{ github.workspace }}/build/${{ matrix.build-variant }}/*.deb
                  tag: ${{ github.ref }}
