name: Release Project

on:
    push:
        tags:
            - 'v*.*.*'


env:
    BUILD_TYPE: Release

jobs:
    build:
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      platform: 22.04
                      shell: bash
                      gen: "Ninja"
                      asset-name: respond_linux
                      path: "build/extras/executable/respond_exe"

                    - os: windows-latest
                      platform: 2022
                      shell: powershell
                      gen: "MinGW Makefiles"
                      asset-name: respond_windows
                      path: "build\\extras\\\\executable\\respond_exe.exe"
        name: Build
        runs-on: ${{matrix.os}}
        steps:
            - name: Build Release
              uses: ./.github/workflows/build.yml
              with:
                build-type: ${BUILD_TYPE}
                os: ${{matrix.os}}
                platform: ${{matrix.platform}}
                generator: ${{matrix.gen}}
                asset-name: ${{matrix.asset-name}}
                asset-path: ${{matrix.path}}
                cmake-vars: -D RESPOND_BUILD_PIC=ON -D RESPOND_BUILD_EXECUTABLE=ON -D RESPOND_BUILD_TESTS=OFF -D RESPOND_CALCULATE_COVERAGE=OFF -D RESPOND_BUILD_PYBINDINGS=OFF -D RESPOND_BUILD_BENCH=OFF -D RESPOND_BUILD_WARNINGS=OFF -D RESPOND_BUILD_SHARED_LIBS=OFF
    release:
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      asset-name: respond_linux

                    - os: windows-latest
                      asset-name: respond_windows
        name: Release Assets on Tag
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout RESPOND Repository
              uses: actions/checkout@v4
            - name: Create Release
              id: create_release
              uses: actions/create-release@latest
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                tag_name: ${{ github.ref }}
                release_name: Release ${{ github.ref }}
                draft: false
                prerelease: false
