name: Build All Workflow

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  unit-testing:
    name: Testing ${{matrix.os}} ${{matrix.build-variant}} build
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        build-variant: [shared, static]
    steps:
      - name: Checkout Respond Repository
        uses: actions/checkout@v4

      - name: Install Eigen3
        uses: kupns-aka-kupa/setup-eigen3@master
        id: install-eigen3
        with:
          version: 3.4.0
        env:
          CMAKE_GENERATOR: Ninja

      - name: Configure Project
        env:
          EIGEN3_INCLUDE_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_INCLUDE_DIR }}
          EIGEN3_DIR: ${{ steps.install-eigen3.outputs.EIGEN3_DIR}}
        run: >
          cmake --preset debug-gcc-linux-${{matrix.build-variant}}-config

      - name: Build Project
        run: >
          cmake --build --preset debug-gcc-linux-${{matrix.build-variant}}-build --target test
